@page "/chatroom"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize]

<PageTitle>ChatRoom</PageTitle>

<h3>ChatRoom</h3>
<BlazorChat.Client.Components.Avator />

<p>@username</p>

<div>
    <input @bind="newGroupName" placeholder="New Group Name" />
    <input @bind="newGroupPwd" placeholder="Group PassWord" typeof="password" />
    <button @onclick="CreateGroup">Create New Group</button>
</div>

<div>
    <select @bind="groupName">
        <option value="">Select a group to join</option>
        @foreach (var g in existGroups)
        {
            <option value="@g">@g</option>
        }
    </select>
    <input @bind="groupPwd" placeholder="Group PassWord" typeof="password" />
    <button @onclick="JoinGroup">Join Group</button>
    @* <button @onclick="LeaveGroup">Leave Group</button> *@
</div>

<div>
    <select @bind="currentGroup">
        <option value="">Select a group to chat</option>
        @foreach(var g in joinedGroups)
        {
            <option value="@g">@g</option>
        }
    </select>
    <button @onclick="LeaveGroup">Leave Group @currentGroup</button>
</div>

@if (!isConnected)
{
    <p>Connecting...</p>
}
else
{
    <div class="form-group">
        <label>
            <input @bind="message" @onkeyup="HandleKeyPress" />
            <button @onclick="SendMessageGroup" disabled="@(string.IsNullOrEmpty(currentGroup))">Send</button>
        </label>
    </div>

    @foreach(var g in joinedGroups)
    {
        <div>
            <h4>@g</h4>
            <ul>
                @foreach(var msg in messagesInGroup[g])
                {
                    <li>[@msg.timestamp] @msg.username: @msg.message</li>
                }
            </ul>
        </div>
    }
}

<div>
    <h4>System Message</h4>
    <ul>
        @foreach (var msg in systemMessages)
        {
            <li>@msg</li>
        }
    </ul>
</div>
@code {
    private HubConnection? hubConnection;
    private bool isConnected = false;
    // private bool isInGroup = false;
    private string? username;
    private string? message;
    private string? newGroupName;
    private string? newGroupPwd;
    private string? groupName;
    private string? groupPwd;
    private string? currentGroup;
    private List<string> systemMessages = new List<string>();
    private List<string> existGroups = new List<string>();
    private List<string> joinedGroups = new List<string>();
    private Dictionary<string, List<(string username, string message, TimeOnly timestamp)>> messagesInGroup = new Dictionary<string, List<(string username, string message, TimeOnly timestamp)>>();


    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();


        hubConnection.On<string, string, string, TimeOnly>("ReceiveMessage", (groupName, username, message, timeStamp) =>
        {
            if (!messagesInGroup.ContainsKey(groupName))
            {
                messagesInGroup[groupName] = new List<(string, string, TimeOnly)>();
            }
            messagesInGroup[groupName].Add((username, message, timeStamp));
            // messages.Add($"{username}({timeStamp}): {message}");
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<string, string, DateTime>("SystemMessage", (username, message, timeStamp) =>
        {
            systemMessages.Add($"[{timeStamp}] {username}: {message}");
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<List<string>>("UpdateGroupList", (groupList) =>
        {
            existGroups = groupList;
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<bool, string>("JoinResult", (success, groupName) =>
        {
            // isInGroup = success;
            if (success&&!joinedGroups.Contains(groupName))
            {
                currentGroup = groupName;
                joinedGroups.Add(currentGroup);
                if(!messagesInGroup.ContainsKey(groupName))
                {
                    messagesInGroup[groupName] = new List<(string, string, TimeOnly)>();
                }
            }
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<string>("LeaveResult", (groupName) =>
        {
            // isInGroup = false;
            joinedGroups.Remove(groupName);
            messagesInGroup.Remove(groupName);
            currentGroup = null;
            InvokeAsync(StateHasChanged);
        });

        // var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        // var user = authState.User;
        // username = user.Identity?.IsAuthenticated == true ? user.Identity.Name : "Anonymous";

        await GetUsername();
        await hubConnection.StartAsync();
        isConnected = true;
    }

    private async Task GetUsername()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        username = user.Identity?.Name ?? "Anonymous"; 
    }

    private async Task CreateGroup()
    {
        if (!string.IsNullOrEmpty(newGroupName) && !string.IsNullOrEmpty(newGroupPwd))
        {
            await hubConnection.SendAsync("CreateGroup", newGroupName, newGroupPwd);
            existGroups.Add(newGroupName);
            newGroupName = string.Empty;
            newGroupPwd = string.Empty;
        }
    }

    private async Task JoinGroup()
    {
        await hubConnection.SendAsync("JoinGroup", groupName, groupPwd);
        groupPwd = string.Empty;
    }

    private async Task LeaveGroup()
    {
        if (!string.IsNullOrEmpty(currentGroup))
        {
            await hubConnection.SendAsync("LeaveGroup", currentGroup);
        }
    }

    private async Task SendMessageGroup()
    {
        if (!string.IsNullOrEmpty(message)&& !string.IsNullOrEmpty(currentGroup) /* && isInGroup */)
        {
            await hubConnection.SendAsync("SendMessageGroup", currentGroup, username, message);
            message = string.Empty;
        }
    }

    private async Task HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SendMessageGroup();
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
